/** LCARS SDK 19182.4
* This file is a part of the LCARS SDK.
* https://github.com/AricwithanA/LCARS-SDK/blob/master/LICENSE.md
* For more information please go to http://www.lcarssdk.org.
**/

#wpr_viewport{
	width:100%; 
	height:100%; 
	padding:10px; 
	text-align:right;
}
